@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bebas Neue', cursive;
}

.fade {
    color: rgb(165, 165, 165);
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.blk-color {
    color: black;
}

.card-1 {
    color: white;
    background: #FA9B47;
}

.card-2 {
    background: #918ABE;
    color: white;
}

.card-3 {
    background: #FE5558;
    color: white;
}